/* Global */
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header */
.nav {
  background: #141414;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-img {
  width: 80px;
  height: auto;
}

.logo {
  display: flex;
  align-items: center;
  padding: 15px;
}

.logo p {
  font-size: 1.5rem;
  margin-left: 10px;
  color: #524f4f;
}

.toggle {
  font-size: 1.5rem;
  color: #adb83e;
  margin-right: 25px;
}

.links {
  margin-left: 15px;
  font-size: 1.5rem;
  height: 0;
  overflow: hidden;
}
.show-links {
  height: 200px;
}
.links li {
  padding: 10px 0;
}

.links a {
  color: #adb83e;
}

@media screen and (min-width: 800px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .links {
    display: flex;
    align-items: center;
    height: 80px;
  }
  .toggle {
    display: none;
  }

  .links li {
    padding: 15px;
  }
}

/* hero section */
.hero {
  display: flex;
  background: #d4cbcb;
}

.hero h1 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 400;
  padding: 50px 20px 30px;
  letter-spacing: 2px;
  color: #8b942e;
  font-family: "Dancing Script", cursive;
}

.hero p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.5rem;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hero .col-2 {
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.col-2 img {
  width: 500px;
  height: auto;
  margin: 100px 0 30px;
  border-radius: 20px;
}
/* hero section 1160px */
@media screen and (max-width: 1160px) {
  .hero .col-2 {
    flex-basis: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/* hero section 550px */
@media screen and (max-width: 550px) {
  .col-2 img {
    width: 400px;
    height: auto;
  }
}

/* hero section 450px */
@media screen and (max-width: 450px) {
  .col-2 img {
    width: 300px;
    height: auto;
  }
}
/* products container section */

.products-container {
  display: flex;
  flex-direction: column;
}

.products-container h1 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 400;
  padding: 60px;
  letter-spacing: 2px;
  color: #8b942e;
}

.products-container .row {
  display: flex;
  flex-wrap: wrap;
}

.products-container .col-3 {
  flex-basis: 22%;
  transition: transform 0.5s;
}

.products-container .col-3:hover {
  transform: translateY(-10px);
}

.products-container img {
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}

.products-container p {
  font-size: 1.5rem;
  margin: 15px;
  color: #535151;
}

/* product section width 900px */

@media screen and (max-width: 900px) {
  .products-container .col-3 {
    flex-basis: 70%;
  }
}

/* footer */
footer {
  height: 300px;
  background: #141414;
  margin-top: 50px;
  text-align: center;
  color: #adb83e;
}

footer h1 {
  font-size: 3.5rem;
  font-weight: 500;
  padding: 30px 0 20px;
}

footer p {
  font-size: 1.5rem;
  padding: 15px;
}

/* footer 450px width */

@media screen and (max-width: 450px) {
  footer h1 {
    font-size: 2.5rem;
  }

  footer p {
    font-size: 1.2rem;
  }
}
